body{
    background: grey;
    margin: 0;
    font-family: sans-serif;

}
section{
    
    margin: auto;
    background: white;
    width: 100%;
    max-width: 700px;
    min-width: 200px;
    padding: 2%;
}
article, header, h1{
    width: 100%;
}
h1{
    font-size: 2rem;

}
figure{
    padding: 1%;
}
p{
    line-height: 1.5rem;
}

img{
    max-width: 100%;
    
}
li{
    display: inline-block;
    padding: 0 0.1%;
}