.un{
    background-color: lemonchiffon;
    margin-bottom: 50px;
    border: 10px solid red;
    padding: 2rem;
}

/* margin colapsin cuando dos capas adjuntas chocan sus margins Se coge el amyor. */

.dous{
    
    background-color: lightcoral;
    width: auto;
    height: auto;
    /* shortcut si no ponemos los lados.
    
    si ponemos 3 valores uno es top, left y right, booton*/
    padding: 2rem  3rem 5rem;

}

.dous span{
    background: lightseagreen;
}

header  {
    background: lightgreen;
    border: 20px solid red;
    width: 50%;
    
}

header h1{
    background: greenyellow;
    color: white;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}