.un{
    background-color: lemonchiffon;
    
    border: 10px solid red;
    padding: 2rem;
    font-size: 2rem;
    width: 50%;
    height: 200px;
    overflow: auto;
    margin:  20px auto;
    max-width: 400px;
min-width: 200px;

}

/* margin colapsin cuando dos capas adjuntas chocan sus margins Se coge el amyor. */

.dous{
    
    background-color: lightcoral;
    width: auto;
    height: auto;
    /* shortcut si no ponemos los lados.
    
    si ponemos 3 valores uno es top, left y right, booton*/
    padding: 2rem  3rem 5rem;

}

.dous span{
    background: lightseagreen;
}

header  {
    background: lightgreen;
    border: 20px solid red;
    width: 50%;
    
}

header h1{
    background: greenyellow;
    color: white;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.uno{
display: inline;
}
.tres strong{
    background: green;
    color: blue;
    border: 2px solid;
    margin: 20px;
    /* es un bloque dentro de una linea */
    display:inline-block;
}

header ul li a{
    display: inline-block;
    background: blue;
    color: azure;
    padding: 20px;
    margin: 5px;
}