body{
    background-color: #002255;
}
header{
    padding: 2rem;
    margin: 2rem;
    background-color: goldenrod;
    background-image: url("/img/Foto4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;

}